<div class="dashboard">
  <h2>Angular Twitter</h2>
  <nav class="dashboard__tabs">
    <a
      [ngClass]="{ active: isHashtag }"
      class="dashboard__tabs__tab"
      (click)="toggleScreen('Hashtag')"
      >Hashtag search</a
    >
    <a
      [ngClass]="{ active: !isHashtag }"
      class="dashboard__tabs__tab"
      (click)="toggleScreen('User')"
      >User search</a
    >
  </nav>
  <main class="dashboard__main">
    <section class="dashboard__search">
      <label for="search">{{ currentPage }} search</label>
      <div class="dashboard__search__field">
        <input
          [formControl]="searchInput"
          class="dashboard__search__input"
          type="text"
          placeholder="Search by {{ currentPage }}"
          (keyup.enter)="onSubmit(searchInput.value)"
        />
        <button
          class="dashboard__search__icon"
          (click)="onSubmit(searchInput.value)"
        ></button>
      </div>
    </section>
    <section class="dashboard__block" [ngClass]="{ loading: isLoading }">
      <div class="filter">
        <div class="dashboard__block__data">
          <table>
            <tr>
              <th>Tweet</th>
              <th>Likes</th>
              <th>Replies</th>
              <th>Retweets</th>
              <th>Hashtags</th>
              <th>Date</th>
            </tr>
            <tr
              *ngFor="
                let tweet of tweets
                  | slice: 10 * (currentPageNumber - 1):10 * currentPageNumber
              "
            >
              <td>{{ tweet.tweet }}</td>
              <td class="gray">{{ tweet.likes }}</td>
              <td class="gray">{{ tweet.replies }}</td>
              <td class="gray">{{ tweet.retweets }}</td>
              <td>{{ tweet.hashtags }}</td>
              <td>{{ tweet.date }}</td>
            </tr>
          </table>
          <div class="dashboard__pagination">
            <a
              [routerLink]="['search', searchTerm, 'page', i]"
              [ngClass]="{ active: i == currentPageNumber }"
              *ngFor="let i of pagesArray"
              >{{ i }}</a
            >
            <a
              *ngIf="currentPageNumber !== pagesArray.slice(-1)[0]"
              [routerLink]="[
                'search',
                searchTerm,
                'page',
                currentPageNumber + 1
              ]"
            >
              ▶
            </a>
          </div>
        </div>
      </div>
      <mat-progress-spinner
        *ngIf="isLoading"
        class="dashboard__block__spinner"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
    </section>
  </main>
</div>
